<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hind Siliguri">

    <!-- google adsense -->
    <!-- <script data-ad-client="ca-pub-4266924221770969" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
    
    
    <!-- stylesheet for navbar -->
    <link rel="stylesheet" href="/assets/cssFiles/navbar.css">
    <link rel="stylesheet" href="/assets/cssFiles/home.css" />
    <link rel="stylesheet" href="/assets/cssFiles/footer.css">

    <title>এডমিন</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169815710-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-169815710-1');
    </script>
  </head>

  <body>
    <div class="page-container">
      <div class="content-wrap">
        
        <!-- navigation bar -->
        <% include ./segments/adminNavbar %>

        <!-- this part contains news -->
        <div class="flx-news-container"> 
          
          <div class="flx-cld-minor">
          </div>

          <div class="flx-cld-major">
            <!-- latest news -->
            <% if(newsData['সাম্প্রতিক'].length !== 0 ) { %>
              <div class="section-title">
                <h3>সাম্প্রতিক</h3>
              </div>                       
                    
              <% for (let j=0; j< Math.min(newsData['সাম্প্রতিক'] .length, 6); j++) { %>
              <div class="flx-card">
                <img
                  src="<%=newsData['সাম্প্রতিক'][j].photoUrl%>"
                  alt="This image is not found"
                />
                <% if( newsData['সাম্প্রতিক'] [j].title.length > 70) { %>
                <div class="item-title">
                  <a href="/admin/newsDetails/<%=newsData['সাম্প্রতিক'][j]._id%>/<%= newsData['সাম্প্রতিক'][j].title.trim().replace(/\s/g,'-')%>"><%= newsData['সাম্প্রতিক'][j].title.substring(0,69) + ' . . .'%></a>
                </div>
                <%} else{ %>
                <div class="item-title">
                  <a href="/admin/newsDetails/<%=newsData['সাম্প্রতিক'][j]._id%>/<%= newsData['সাম্প্রতিক'][j].title.trim().replace(/\s/g,'-')%>"><%= newsData['সাম্প্রতিক'][j].title%></a>
                </div>
                <% } %>
              </div>
              <% } %>
              <div class="see-more">
                <a href="/admin/news/সাম্প্রতিক">আরও দেখুন...</a>
              </div>
            <% } %>

            <!-- all other news -->
            <% for (let i=0; i< classes.length; i++) { %>
              <% if(typeof newsData[classes[i]] !== 'undefined' && newsData[classes[i]].length !== 0 ) { %>
                <div class="section-title">
                  <h3><%= classes[i] %></h3>
                </div>                       
                     
                <% for (let j=0; j< Math.min(newsData[classes[i]] .length, 6); j++) { %>
                <div class="flx-card">
                  <img
                    src="<%=newsData[classes[i]][j].photoUrl%>"
                    alt="This image is not found"
                  />
                  <% if( newsData[classes[i]] [j].title.length > 70) { %>
                  <div class="item-title">
                    <a href="/admin/newsDetails/<%=newsData[classes[i]][j]._id%>/<%= newsData[classes[i]][j].title.trim().replace(/\s/g,'-')%>"><%= newsData[classes[i]][j].title.substring(0,69) + ' . . .'%></a>
                  </div>
                  <%} else{ %>
                  <div class="item-title">
                    <a href="/admin/newsDetails/<%=newsData[classes[i]][j]._id%>/<%= newsData[classes[i]][j].title.trim().replace(/\s/g,'-')%>"><%= newsData[classes[i]][j].title%></a>
                  </div>
                  <% } %>
                </div>
                <% } %>
                <div class="see-more">
                  <a href="/admin/news/<%= classes[i] %>">আরও দেখুন...</a>
                </div>
              <% } %>
            <% } %>
          </div>

          <div class="flx-cld-minor">
          </div>

        </div>

        <div class="flx-vid-container">

          <div class="flx-cld-minor">
          </div>

          <div class="flx-cld-major">
            <div class="section-title">
              সাম্প্রতিক ভিডিও
            </div>
            <% for (let i=0; i< vidData .length; i++) { %>
            <div class="flx-card">
              <iframe
                src="<%=vidData[i].videoUrl%>"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              >
              </iframe>
              <% if( vidData [i].title.length > 70) { %>
              <div class="item-title">
                <%= vidData [i].title.substring(0,69) + ' . . .'%>
              </div>
              <%} else{ %>
              <div class="item-title">
                <%= vidData [i].title%>
              </div>
              <% } %>
            </div>
            <% } %>
            <div class="see-more">
                <a href="/admin/videos">আরও দেখুন...</a>
            </div>
          </div>

          <div class="flx-cld-minor">
          </div>

        </div>
      </div>
    </div>
    <% include ./segments/footer.ejs %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
