<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    
    <title>সংবাদ তৈরি - পূর্ব পশ্চিম</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hind Siliguri">

    <!-- google adsense -->
    <!-- <script data-ad-client="ca-pub-4266924221770969" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->


    <link rel="stylesheet" href="/assets/cssFiles/header.css" />
    <!-- stylesheet for navbar -->
    <link rel="stylesheet" href="/assets/cssFiles/navbar.css">
    <link rel="stylesheet" href="/assets/cssFiles/newsAndVideos.css" />
    <link rel="stylesheet" href="/assets/cssFiles/footer.css">

    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169815710-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-169815710-1');
    </script>
  </head>

  <body>
    <div class="page-container">
      <div class="content-wrap">
        <% include ./segments/header%>
        <!-- navigation bar -->
        <% include ./segments/adminNavbar %>
        <form action="/admin/createNews" method="POST" enctype="multipart/form-data">         
          <div class="form-container">
            <% include ./segments/messages%>
            <div class="part">
              <div class="title">
                Title:
              </div>
              <div class="input-elm">
                <input type="text" id ='title' name="title" value="<%= typeof data!== 'undefined' && typeof data.title!== 'undefined' ? data.title: '' %>" required>
              </div>
            </div>
            
            <div class="part">
              <div class="title">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="checked" id="isRecent" name="isRecent">
                  <label class="form-check-label" for="isRecent" >
                    Use as recent
                  </label>
                  <small class="form-text text-muted">News lebeled as recent will be shown at the top of the home page in 'সাম্প্রতিক সংবাদ'</small>
                </div>                
              </div>              
            </div>
            
            <div class="part">
              <div class="title">
                Secect a Class:
              </div>
              <select  class="btn btn-info" name="class" id="classId"  required>
                  <option disabled selected value> -- Select a class -- </option>
                  <% for(var i = 0 ; i < classes.length; i++) {%>
                    <option value="<%= classes[i] %>"><%= classes[i] %></option>                    
                  <% } %>                    
              </select>
            </div>
  
            <div class="part">
              <div class="title">
                Representational Photo(enter embedded url or upload photo):
              </div>
              Enter Url:
              <div class="input-elm">
                  <input type="text" id="photoUrl" name="photoUrl" value="<%= typeof data!== 'undefined' && typeof data.photoUrl!== 'undefined' ? data.photoUrl: 'https://lh3.googleusercontent.com/vxKWBeEsKaym7wy9Nks9qrdkOFJyv6-1fMBMA8BQyDsOCVB5xm1tZImtEB_x5HDpAE2E3u1jFW7j2VWalhdf1tSSGXpOa35244XEfF4D82WJwkm9PSIASF7DNJHUg-tmpyI6hdaK=w600-h315-p-k' %>" required>
              </div>
              or
             <div class="imput-elm">
              <div class="form-group">
                <input type="file" id="newsPhoto" name="newsPhoto" class="form-control-file" id="exampleFormControlFile1" accept="image/x-png,image/gif,image/jpeg" >
                <small class="form-text text-muted">*File size should be less than 1000kb</small>
              </div>
             </div>
            </div>

            <div class="part">
              <div class="title">
                Author name:
              </div>
              <div class="input-elm">
                  <input type="text" id="author" name="author" value="<%= typeof data!== 'undefined' && typeof data.author!== 'undefined' ? data.author: 'নিজস্ব প্রতিবেদক' %>" required>
              </div>
            </div>
  
            <div class="part">
              <div class="title">
                Write Details Here:
              </div>
              <div class="editor-container">
                <textarea id="newsDetails" name="newsDetails" value="<%= typeof data!== 'undefined' && typeof data.newsDetails!== 'undefined' ? data.newsDetails: '' %>"></textarea>                
              </div>
            </div>
  
            <div class="btn-container">
              <button type="submit" id="submit-btn" class="btn btn-success">SUBMIT</button>
            </div>
            
          </div>
        </form>
      </div>
    </div>
    <% include ./segments/footer.ejs %>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script>
      CKEDITOR.replace( 'newsDetails' )
    </script>
  </body>
</html>
