<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:og="http://ogp.me/ns#"
xmlns:fb="https://www.facebook.com/2008/fbml" lang="en">
  <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169815710-1"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
 
       gtag('config', 'UA-169815710-1');
     </script>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- open graph protocol -->
    <meta property="og:title" content="ক্যাম্পাস প্রতিদিন" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://my.website.com" />
    <meta property="og:image:url" content="https://lh3.googleusercontent.com/VJB2IjI0VvyS_b5z4us2wBWQyQOQrBIflKpSKAagZg1fMQqNbUF9HlO1kfpFfXLQLycfRspyAlEtMJvqhb_1FgFtlSe2pLlYl_5ui-bxduBxjVMkZnicgPeTNCKXZ6vBbP4J4Qwj=w600-h291-p- /">
    <meta property="og:description" content="News Portal and Blog" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">

    <meta name="google-site-verification" content="07c-4A5YqRT9nWhJpg2XI-kzYDmmJB3-8rLVYlL2_XA" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hind Siliguri"
    />

    <!-- google adsense -->
    <script data-ad-client="ca-pub-4266924221770969" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


    <link rel="stylesheet" href="/assets/cssFiles/header.css" />
    <!-- stylesheet for navbar -->
    <link rel="stylesheet" href="/assets/cssFiles/navbar.css" />
    <link rel="stylesheet" href="/assets/cssFiles/home.css" />
    <link rel="stylesheet" href="/assets/cssFiles/footer.css" />

    <title>ক্যাম্পাস প্রতিদিন</title>

   
  </head>

  <body>
    <div class="page-container">
      <div class="content-wrap">
        <% include ./segments/header%>
        <!-- navigation bar -->
        <% include ./segments/navbar %>

        <!-- this part contains news -->
        <div class="flx-news-container"> 
          
          <div class="flx-cld-minor">
          </div>

          <div class="flx-cld-major">
            <div class="section-title">
              সাম্প্রতিক সংবাদ
            </div>
            <% for (let i=0; i< Math.min(newsData .length, 12); i++) { %>
            <div class="flx-card">
              <img
                src="<%=newsData[i].photoUrl%>"
                alt="This image is not found"
              />
              <% if( newsData [i].title.length > 70) { %>
              <div class="item-title">
                <a href="/news/<%=newsData[i]._id%>"><%= newsData[i].title.substring(0,69) + ' . . .'%></a>
              </div>
              <%} else{ %>
              <div class="item-title">
                <a href="/news/<%=newsData[i]._id%>"><%= newsData[i].title%></a>
              </div>
              <% } %>
            </div>
            <% } %>
            <div class="see-more">
              <a href="/news">আরও দেখুন...</a>
          </div>
          </div>

          <div class="flx-cld-minor">
          </div>

        </div>

        <div class="flx-vid-container">

          <div class="flx-cld-minor">
          </div>

          <div class="flx-cld-major">
            <div class="section-title">
              সাম্প্রতিক ভিডিও
            </div>
            <% for (let i=0; i< vidData .length; i++) { %>
            <div class="flx-card">
              <iframe
                src="<%=vidData[i].videoUrl%>"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              >
              </iframe>
              <% if( vidData [i].title.length > 70) { %>
              <div class="item-title">
                <%= vidData [i].title.substring(0,69) + ' . . .'%>
              </div>
              <%} else{ %>
              <div class="item-title">
                <%= vidData [i].title%>
              </div>
              <% } %>
            </div>
            <% } %>
            <div class="see-more">
                <a href="/videos">আরও দেখুন...</a>
            </div>
          </div>

          <div class="flx-cld-minor">
          </div>

        </div>
      </div>
    </div>

    <% include ./segments/footer.ejs %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
