<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- open graph protocol tobe recognized by facebook-->
    <meta property="og:title" content="<%= data.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.purboposhcim.com/newsDetails/<%= data._id %>" />
    <meta property="og:image" content="<%=data.photoUrl%>">
    <meta property="og:description" content="সংবাদ বিবরন" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="fb:app_id" content="1182939572060897">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hind Siliguri" />

    <!-- google adsense -->
    <script data-ad-client="ca-pub-4266924221770969" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


    <link rel="stylesheet" href="/assets/cssFiles/header.css" />
    <!-- stylesheet for navbar -->
    <link rel="stylesheet" href="/assets/cssFiles/navbar.css" />
    <link rel="stylesheet" href="/assets/cssFiles/newsDetails.css" />
    <link rel="stylesheet" href="/assets/cssFiles/footer.css" />

    <title><%= data.title %></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169815710-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-169815710-1');
    </script>
</head>

<body>
    <!-- for facebook share -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="Fx4PnXAX"></script>
   
    <div class="page-container">
        <div class="content-wrap">
            <% include ./segments/header%>
            <!-- navigation bar -->
            <% include ./segments/navbar %>

            <div class="flx-prnt">
                
                <div class="flx-ad">
                </div>
                
                <div class="flx-content">
                    <div class="ad-container-top">
                        <a href="https://www.bohubrihi.com/courses?wpam_id=779"><img src="https://www.bohubrihi.com/wp-content/uploads/2018/09/Bohubrihi-Banner-Affiliate-Creative-Online-Courses.png" style="border: 0;" title="Bohubrihi Online Courses"/></a>
                    </div>
                    <div class="title-container">
                        <p><%= data.title %></p>
                    </div>
                    <div class="date-container">
                        <p><%= data.bdFormatTime.day %>-<%= data.bdFormatTime.month %>-<%= data.bdFormatTime.year %></p>
                    </div>                    
                    <div class="publicity">
                        <!-- facebook share link -->
                        <div class="fb-share-cont">
                            <div class="fb-share-button" data-href="" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                        </div>
                        <div class="view">
                            <div class="icon">
                                <img src='/assets/images/eye.png' alt="">
                            </div>
                            <div class="count">
                                <p><%= data.views %></p>
                            </div>                            
                        </div>
                    </div>
                    

                    <div class="img-container">
                        <img src="<%=data.photoUrl%>" alt="This image is not found">
                    </div>
                    <div class="ad-container-middle">
                        <% include ./segments/affiliate%>
                    </div>
                    <div class="details-container">
                        <%- data.newsDetails.details%>
                    </div>

                    <!-- facebook share link -->
                    <div class="fb-share-cont">
                        <div class="fb-share-button" data-href="" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                    </div>
                    <!-- fb comment -->
                    <div class="fb-cmnt-cont">
                        <div class="fb-comments" data-href="" data-numposts="5" data-width=""></div>
                    </div>

                </div>

                <div class="flx-ad">
                </div>

            </div>


        </div>
    </div>

    <% include ./segments/footer.ejs %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        let currentLocation = $(location).attr('href')
        $('.fb-share-button').attr('data-href',currentLocation)
        $('.fb-comments').attr('data-href',currentLocation)
    </script>
</body>

</html>